{% extends "template.html" %}
{% block content %}
    <h1>Welcome to FlaskTaskr.</h1>
    <h3>Please login to access your task list.</h3>
    <form action="/" method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.username.label }}: {{ form.username }} &nbsp; &nbsp;
            {{ form.password.label }}: {{ form.password }} &nbsp; &nbsp;
        </p>

        <input type="submit" value="Login">
    </form>
    <br>
    <p><em>Need an account? </em><a href="/register">Signup!!</a></p>
{% endblock content %}

